@media (max-width: 42rem) {
    .navbar a {
        display: none;
    }
    
    .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex > * {
        width: 100% !important;
        margin: 1em 0 0 0 !important;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 0 !important;
    }

    p {
        text-align: justify !important;
    }

    .navbar .flex {
        align-items: flex-start;
    }

    .navbar img {
        padding-bottom: 1em;
    }

    #firstTestimonialsPair {
        flex-direction: column-reverse;
    }

    .testimonials .container .flex {
        margin: 0;
    }
}