@media (max-width: 42rem) {
    .navbar a {
        display: none;
    }
    
    .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex > * {
        width: 100% !important;
        /* margin: 1em 0 0 0 !important; */
    }

    .showcase .headshot {
        margin: 1em auto;
    }

    .service-option {
        margin: 1em auto !important;
    }

    .testimonials .flex > div  {
        height: 100%;
        margin: 1em auto !important;
    }

    .testimonials .flex {
        margin: 0 auto;
    }

    .submitSample .card {
        margin: 0 auto;
    }

    h1,
    h2 {
        font-size: 2.5rem;
        margin-top: 0 !important;
    }

    p {
        text-align: justify !important;
    }

    .navbar .flex {
        align-items: flex-start;
    }


    #firstTestimonialsPair {
        flex-direction: column-reverse;
    }

    /* .testimonials .container .flex {
        margin: 0;
    } */

    .editorialAssessment li,
    .developmentalEdit li,
    .lineEdit li,
    .rates li {
        margin: 1em 2em;
        text-align: justify;
}

}