@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --bg-primary: #080808;
    --bg-light: #fbf6eb;
    --bg-accent: #decfef;
    --txt-dark: #333;
    --txt-light: white;
    --btn-primary: #95ad3d;
    --btn-secondary: #7aa02a;
}

body {
    margin: 0;
    font-family: "Roboto Slab", serif;
}

section {
    padding: 3em 0;
    position: relative;
}

section:after {
    position: absolute;
    content: '';
    top: -.25em;
    left: 50%;
    width: .5em;
    height: .5em;
    background: black;
    transform: rotate(45deg);
}

a {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: .5em;
}

h3 {
    text-align: center;
}

/* navbar */

.navbar {
    background: var(--bg-primary);
    padding: .5em 0;
}

.navbar .flex {
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 12em !important;
    height: auto;
}

.navbar a {
    color: var(--txt-light)
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

/* hero */

.hero {
    background: url(images/spaceonecropped.jpg);
    background-size: cover;
    transform: scaleX(-1);
}

.hero div > div {
    transform: scaleX(-1);
    text-align: end;
}

.hero div > div {
    font-size: max(2em, 4.5vw);
    width: 40%;
    padding: 3.3em 0 2.5em 0;
    color: var(--txt-light);
}

/* showcase */

.showcase {
    background: var(--bg-light);
}

.showcase .container {
    max-width: 50rem;
}

.showcase .showcase--body {
    justify-content: space-around;
    font-size: 1.125em;
}

.showcase .headshot {
    margin: auto 0;
    text-align: center;
}

.showcase .flex--vertical {
    width: 55%;
}
.showcase .flex--vertical > * + * {
    margin-top: 1em;
}

.showcase--button {
    justify-content: center;
}

.showcase .btn {
    width: fit-content;
    margin: 1em auto;
}

.showcase img {
    width: 15rem;
    border: 2px solid black;
}



/* Services */

.services {
    background: var(--bg-accent);
}

.services .flex {
    justify-content: space-around;
}

.services .flex div {
    margin: 0 .5em 1em .5em;
}

.services .btn {
    margin: 1em auto;
}

.services .card {
    width: 15em;
}

.services h3 {
    margin-bottom: .5em;
}

/* Testimonials */

.testimonials {
    background: var(--bg-light);
}

.testimonials .container {
    max-width: 40rem;
}


.testimonials .flex {
    margin: 3em 0;
}

.testimonials .flex {
    justify-content: space-around;
}

.testimonials .flex > div + div {
    margin-left: 5em;
}

.testimonials .flex > div  {
    height: 100%;
    margin: auto 0;
}

.testimonials a {
    display: block;
    width: max(10rem, 14vw);
    height: auto;
    margin: 0 auto;
}


.testimonials img {
    width: 100%;
}

.testimonials img:hover {
    transform: translateY(-0.5em);
    transition: 0.3s;
}

/* submit sample */

.submitSample {
    background: var(--bg-accent);
}

.submitSample .container {
    margin-bottom: 1em;
}

.submitSample .container > .flex {
    justify-content: space-around;
    align-items: center;
}

.submitSample .container > .flex > p {
    font-size: 1.5rem;
    max-width: 20em;
    margin-bottom: 2em;
}

.submitSample .card {
    max-width: 19em;
    margin-left: 1em;
}

.submitSample h3 {
    margin-bottom: .5em;
    font-size: 1.5rem;
}

.submitSample form > * + * {
    margin-top: 1em;
}

.submitSample input {
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid black;
}

.submitSample .btn {
    border: none;
    margin: 1em auto 0 auto;
}

#editOptionsInput {
    border: 1px solid black;
}

/* Footer */

.footer {
    background: url(images/spaceoneFooter.jpg);
    background-size: cover;
    padding: 0;
}

.footer--flex {
    display: flex;
}

.footer .container {
    padding: 1em 0 .5em 0;
}

.footer ul {
    margin: 0 .5em;
}

.footer a {
    color: var(--txt-light);
}

.footer ul li {
    margin-bottom: .5em;
}

.footer ul a:hover {
    border-bottom: 2px solid white;
}

/* Services Page */

.servicesPageIntro .container,
.editorialAssessment .container,
.developmentalEdit .container,
.lineEdit .container,
.rates .container,
.aboutMe .container {
    max-width: 45em;
}

.servicesPageIntro p,
.editorialAssessment p,
.developmentalEdit p,
.lineEdit p,
.rates p, 
.aboutMe p {
    margin-bottom: 1em;
}

/* Intro */

.servicesPageIntro,
.rates,
.aboutMe {
    background-color: var(--bg-light);
}

.servicesPageIntro .flex {
    justify-content: space-between;
}

.servicesPageIntro h2 {
    margin-bottom: 0;
}

.servicesPageIntro > p {
    margin-bottom: 3em;
}
/* Editorial Assessment */

.editorialAssessment li,
.developmentalEdit li,
.lineEdit li,
.rates li {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 1em 4em;
}

/* Developmental Edit */

.developmentalEdit {
    background-color: var(--bg-light);
}

/* Animations */

.fadeInAndUp {
    animation: fadeInAndUp ease-in-out;
    opacity: 1 !important;
}

.fadeInFromLeft {
    animation: fadeInFromLeft 0.5s ease-in-out;
    opacity: 1 !important;
}
.fadeInFromRight{
    animation: fadeInFromRight 0.5s ease-in-out;
    opacity: 1 !important;
}

.popUp {
    animation: popUp 0.15s ease-in-out;
    opacity: 1 !important;
}

.fadeIn {
    animation: fadeIn 0.2s ease-in-out;
    opacity: 1 !important;
}


/* Keyframes */

@keyframes fadeInAndUp {
    0% {
        transform: translateY(30px);
        opacity: 0.5;}
    100% {
        transform: translateY(0);
        opacity: 1;}
}

@keyframes fadeInFromLeft {
    0% {
        transform: translateX(-15em);
        opacity: 0.5;}
    100% {
        transform: translateX(0);
        opacity: 1;}
}

@keyframes fadeInFromRight {
    0% {
        transform: translateX(15em);
        opacity: 0.5;}
    100% {
        transform: translateX(0);
        opacity: 1;}
}

@keyframes popUp {
    0% {
        transform: translateY(30px);
        }
    100% {
        transform: translateY(0);
        }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

