body {
    background-color: salmon;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/lamen-cropped.jpg);
    background-size: cover;
}

.header-item {
    background-color: transparent;
    color: rgb(88, 224, 206);
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

.header-home {
    align-content: flex-end;
    margin-top: auto;
}

.header-logo {
    width: 25%;
    margin-top: 2em;
    margin-bottom: 4em;
}
.header-links {
    align-content: flex-end;
    margin-top: auto;
}