@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 20px;
    --primary-color: rgb(206, 145, 31);
    --background-primary: #080808;
    --background-secondary: #fdfdfd;
    --background-tertiary: #c5b2d4;
    /* --background-tertiary: #f3c570; */
    --text-primary: rgba(255, 255, 255, 0.801);
    --text-secondary: #232323;
    --btn-primary: #c2bc16;
    --btn-secondary: #909300;
}
/* :root {
    --primary-color: rgb(156, 202, 96);
    --background-primary: rgb(190, 186, 127);
    --background-secondary: rgb(216, 199, 178);
    --text-primary: black;
    --text-secondary: black;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-image: url(images/spaceonecropped2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

p, h1, h2 {
    color: #333;
}

ul {
    list-style: none;
}

/* Navbar */

.navbar {
    background-color: var(--background-primary);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar .container {
    justify-content: space-between;
}

.navbar h1 {
    margin-top: 10px;
}

.navbar nav {
    height: 100%;
}

.navbar ul {
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
    align-items: flex-end;
    height: 90px;
}

.navbar li {
    margin: 0 0 0 10px;
}

.navbar li :hover {
    border-bottom: 2px solid var(--text-primary);
}

/* Photo */

.photo {
    height: 550px;
}

/* welcome */

.welcome {
    background: var(--background-secondary);
}

.welcome  h2 {
    padding-top: 50px;
}

.welcome .container {
    max-width: 1000px;
}

.welcome .flex {
    flex-direction: column;
}

.welcome .grid {
    grid-template-columns: 60% 40%;
    padding: 40px;
}



.welcome p {
    margin: 10px 40px;
}

.welcome .btn {
    margin-bottom: 40px;
}

.headshot img {
    margin: 20px;
    max-width: 300px;
}




/* Showcase */

.showcase {
    padding: 50px 0;
    background: var(--background-secondary);
}

.showcase .container {
    padding: 50px;
    max-width: 900px;
}

.showcase-left {
    text-align: right;
}

.showcase-right {
    display: flex;
    justify-content: flex-start;
}

.showcase h1 {
    color: var(--text-secondary);
}

.showcase .grid {
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    font-size: 1rem;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--text-secondary);
    width: 100%;
}

.showcase-form input:focus {
    outline: none;
}

#botFilter {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
}

/* Services */

.services {
    padding: 50px 0;
    background: var(--background-tertiary);
}

.services .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 50px;
    overflow: hidden;
}

.service-options :first-child,
.service-options :nth-child(5) {
    grid-column: 1 / span 2;
}

.service-options :nth-child(4) {
    grid-column: 2 / span 2;
}

.slideFromLeft {
    animation: slideInFromLeft 0.4s ease-out;
}

.slideFromRight {
    animation: slideInFromRight 0.4s ease-out;
}

.service-options img {
    height: 100px;
    width: 100px;
}

.service-options h4 {
    margin: 5px 0
}

.service-options div {
    flex-direction: column;
}

/* Footer */
.footer {
    margin: 10px 0;
}

.footer img {
    max-width: 70px;
    height: auto;
}

.footer .flex {
    justify-content: flex-start;
}

.footer nav {
    margin-left: 20px;
}
.footer li {
    color: var(--text-primary);
}


/* Animations */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-90%);
        opacity: 0;
    } 
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(90%);
        opacity: 0;
    } 
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

/* Media Queries */

