/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
}

.banner {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--text-secondary);
    padding: 5px;
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--btn-primary);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: var(--btn-secondary);
}

.fontSize1 {
    font-size: 1rem;
}
.fontSize2 {
    font-size: 1.5rem;
}
.fontSize3 {
    font-size: 2rem;
}
.fontSize4 {
    font-size: 2.5rem;
}

.border1 {
    border: 1px solid var(--text-secondary);
}
.border2 {
    border: 2px solid var(--text-secondary);
}
